Django==2.2.3
django-cors-headers==2.2.0
django-rest-auth==0.9.3
djangorestframework==3.8.2
drf-util==0.0.12
elasticsearch==7.0.2
pip==19.0.3
python-dateutil==2.8.0
pytz==2019.1
setuptools==65.5.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3